<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Diet:</b>
  <%= @recipe.diet %>
</p>

<p>
  <b>Author:</b>
  <%= @recipe.author %>
</p>

<p>
  <b>Meal type:</b>
  <%= @recipe.meal_type %>
</p>

<p>
  <b>Serving size:</b>
  <%= @recipe.serving_size %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
